<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FxRatesSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="FxRatesSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>      
            <endpoint address="http://www.lb.lt/webservices/fxrates/fxrates.asmx"
                binding="customBinding" bindingConfiguration="FxRatesSoap12"
                contract="FxRatesService.FxRatesSoap" name="FxRatesSoap12" />
        </client>
    </system.serviceModel>
</configuration>